h1{
  family-font: Comic Sans MS, cursive, sans-serif;
    color: Purple;
}
h2{
  family-font: Comic Sans MS, cursive, sans-serif;
    color: Purple;
}
p{
  family-font: Calibri;
  colour: Black;
}
body{
    background-color: #33ccff;
}

