h1{
  family-font: Comic Sans MS, cursive, sans-serif;
    color: Purple;
}
h2{
  family-font: Comic Sans MS, cursive, sans-serif;
    color: Purple;
}
p{
  family-font: Calibri;
  colour: Black;
}
#grad1 {
    height: 200px;
    background-color: #cccccc;
    background-image: linear-gradient(#33ccff, #6699ff);
}

