h1{
  family-font: Comic Sans MS, cursive, sans-serif;
    color: Purple;
}
h2{
  family-font: Comic Sans MS, cursive, sans-serif;
    color: Purple;
}
p{
  family-font: Calibri;
  colour: Black;
}
body{
  background-image: url("http://www.ace-clipart.com/clipart/background_clipart/background_02.jpg");
  background-color: #99ff99;
}

